input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; // Yeah, yeah everybody write about it
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}
.wrapper.contact{
    width: 56%;
    .heading_2{
        text-align: left;
    }

}
.contact__paragraph{
    max-width: 795px;
}
.submit{
    margin-bottom: 106px;
    margin-top: 31px;
    width: 151px;
    height: 48px;
    color: #fff;
    background-color:#1F1A16;
    padding: 0;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.18em;
}
input{
    display: block;
}
.input__name{
    display: flex;

}
 .tel input{
    width: 100%;
}
.check-in, .check-out{
    width: 61px;
    margin-right: 19px;
}
.date__in, .date__out{
    display: flex;
}
.check{
margin-top: 31px;
margin-bottom: 7px;
}
.msg{
    margin-top: 27px;
}
.message{
   margin-top: 7px; 
}
.name__first{
    flex-grow: 1;
    margin-right: 16px;
}
.name__last{
    flex-grow: 1;
}
.name__wrapper{
    display: flex;
    margin-bottom: 29px;
}
.first{
    flex-grow: 1;
}
.first.p{
    margin-right: 16px;
}
.email, .tel{
    width: 100%;
}
.email{
    margin-bottom: 17px;
}
.check-in.y{
    width: 85px;
}
.check-out.y{
    width: 85px;
}