.heading_2.gallery{
    padding-top: 47px;
    padding-bottom: 41px;
}
.gallery__grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    width: 85%;
    min-height: 1335px;
    margin: 0 auto;
}
